# Node.js / React Native
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.expo/
.expo-shared/

# React 
.next/

# React Native
ios/Pods/
android/.gradle/
android/app/build/

# Python 
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
*.egg-info/

# Logs
logs/
*.log

# Environment / Config
.env
*.local
config/*.json
config/*.yaml

# IDE / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.docker/
*.docker

# Terraform
*.tfvars
*.terraform
terraform.tfvars
**.terraform/*
*.tfstate
*.tfstate.*
.terraform/
.terraformrc
terraform.rc
**/.terraform/*
